<main class="grid content-center px-2">
    <div class="mb-3 p-2 text-center bg-cyan-100 rounded shadow">
        <p>Track your pending tasks easily</p>
        <p>Never forget anything again!</p>
    </div>

    <div class="grid gap-y-3 mb-3 p-2 text-sm bg-cyan-50 rounded shadow">
        <p>
            Welcome to SimpleToDo – Your straightforward solution for managing tasks with ease! SimpleToDo is designed to help you stay organized without overwhelming you with complexity. Add your tasks, mark them as complete, and keep track of your progress effortlessly.
        </p>
        <p>
            In the future, we'll be adding features like daily, weekly, and monthly tasks to help you stay on top of all your goals. Customize your lists to suit your unique needs, whether it's work projects, personal errands, or long-term plans.
        </p>
        <p>
            Embrace simplicity and boost your productivity with SimpleToDo!
        </p>
    </div>
</main>
