<main class="grid grid-cols-1 content-center px-2">
    <div class="mb-3 p-2 text-center bg-cyan-100 rounded shadow">
        <p>Track your pending tasks easily</p>
        <p>Never forget anything again!</p>
    </div>

    <div class="mb-3 p-2 text-sm bg-cyan-50 rounded shadow">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula velit at fermentum accumsan. Pellentesque eu ultrices mi, quis semper neque. Donec vehicula eros id nisl elementum, nec lobortis quam convallis. Vivamus eros mauris, imperdiet in vulputate sit amet, aliquam vel justo. Duis semper euismod tellus sit amet sagittis. Donec luctus erat nec consequat vulputate. In commodo semper tempor. Quisque quis enim a ex dapibus vehicula eget rutrum sem.
        </p>
        <p>
            Aliquam id turpis nisi. Vestibulum lacus nibh, ornare a quam vel, pellentesque euismod nisl. Integer vitae ligula consequat, lobortis nibh aliquet, aliquet sem. In pretium aliquet efficitur. Ut eu libero vel orci tempus pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquam ac massa non dictum. In at sem egestas, convallis arcu et, scelerisque tortor.
        </p>
    </div>
</main>
