<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">

<head>
    <title>A simple TODO App</title>
    <script type="text/javascript" th:src="@{/webjars/htmx.org/2.0.1/dist/htmx.js}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" th:content="${_csrf.token}" />
    <meta name="csrf-header" th:content="${_csrf.headerName}" />
    <style>
        ul li.htmx-swapping {
          opacity: 0;
          transition: opacity 500ms ease-out;
        }
    </style>
</head>

<body>

    <script>
        document.body.addEventListener('htmx:configRequest', (evt) => {
            evt.detail.headers['accept'] = 'text/html-partial';
            if (evt.detail.verb !== 'get') {
                const csrfHeader = document.querySelector('meta[name=csrf-header]').getAttribute('content');
                const csrfToken = document.querySelector('meta[name=csrf-token]').getAttribute('content');
                if (csrfHeader != null && csrfToken != null) {
                    evt.detail.headers[csrfHeader] = csrfToken;
                }
            }
        });
    </script>

    <header class="mb-5 bg-cyan-400">
        <h1 class="text-center text-5xl font-bold text-white mb-1">Simple ToDo</h1>
        <h2 class="text-center text-lg text-white font-semibold mb-3">A simple way to manage your tasks</h2>
        <nav>
            <ul class="flex flex-row">
                <li th:each="link: ${navLinks}" class="mr-2">
                    <a class="cursor-pointer px-1 rounded text-white transition ease-in-out hover:bg-cyan-200 hover:text-black duration-500"
                       th:if="${link.isVisible}"
                       th:text="${link.text}"
                       th:hx-get="|${link.link}|"
                       hx-trigger="click"
                       hx-target="#main"
                       hx-swap="outerHTML"></a>
                <li>

                <li class="ml-auto"
                    sec:authorize="isAuthenticated()">
                    <p sec:authentication="name"
                       class="cursor-pointer px-1 rounded text-white underline"></p>
                </li>

                <li class="ml-auto">
                    <a sec:authorize="!isAuthenticated()"
                       class="cursor-pointer px-1 rounded text-white transition ease-in-out hover:bg-cyan-200 hover:text-black duration-500"
                       href="/login">Login</a>
                    <a sec:authorize="isAuthenticated()"
                       class="cursor-pointer px-1 rounded text-white transition ease-in-out hover:bg-cyan-200 hover:text-black duration-500"
                       href="/logout">Logout</a>
                </li>

            </ul>
        </nav>
    </header>

    <main class="grid grid-cols-1 content-center px-2"
          sec:authorize="!isAuthenticated()"
        hx-get="/home"
        hx-trigger="load"
        hx-swap="outerHTML">
    </main>

    <main class="grid grid-cols-1 content-center px-2"
          sec:authorize="isAuthenticated()"
          hx-get="/tasks"
          hx-trigger="load"
          hx-swap="outerHTML">
    </main>

    <footer th:replace="~{footer}"></footer>

</body>