<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>A simple TODO App</title>
    <script type="text/javascript" th:src="@{/webjars/htmx.org/2.0.0/dist/htmx.min.js}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <header class="mb-5 bg-cyan-400">
        <h1 class="text-center text-5xl font-bold text-white mb-1">Simple ToDo</h1>
        <h2 class="text-center text-lg text-white font-semibold mb-3">A simple way to manage your tasks</h2>
        <nav>
            <ul class="flex flex-row">
                <li th:each="link: ${navLinks}" class="mr-2">
                    <a class="cursor-pointer px-1 rounded text-white transition ease-in-out hover:bg-cyan-200 hover:text-black duration-500"
                       th:text="${link.text}"
                       th:hx-get="|${link.link}|"
                       hx-trigger="click"
                       hx-target="#main"
                       hx-swap="innerHTML"></a>
                <li>

                <li class="ml-auto">
                    <a class="cursor-pointer px-1 rounded text-white transition ease-in-out hover:bg-cyan-200 hover:text-black duration-500"
                       href="">Login</a>
                </li>
            </ul>
        </nav>
    </header>

    <main id="main" class="grid grid-cols-1 content-center px-2"
        hx-get="/home"
        hx-trigger="load"
        hx-swap="innerHTML">

    </main>

    <footer th:replace="~{footer}"></footer>

</body>