<li th:fragment="newTask(task)">
    <div th:fragment="task(task)"
         class="grid grid-cols-6 py-1 transition ease-in-out hover:bg-zinc-200 duration-300">
        <h6 th:text="${task.name}"
            class="col-span-4">Task name</h6>
        <button type="button"
                th:hx-patch="|/tasks/complete/${task.id}|"
                hx-trigger="click"
                class="col-span-1 self-center rounded px-2 mx-1 max-h-6 font-bold bg-cyan-500 hover:bg-cyan-300 focus:bg-cyan-700">
            C
        </button>
        <button type="button"
                th:hx-delete="|/tasks/${task.id}|"
                hx-trigger="click"
                class="col-span-1 self-center rounded px-2 mx-1 max-h-6 font-bold bg-red-500 hover:bg-red-300 focus:bg-red-700">
            D
        </button>
    </div>
</li>